<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1>Team Name: <%= @name %></h1>
   <h3><%= @coach %></h3>
   <h3><%= @pg %></h3>
   <h3><%= @sg %></h3>
   <h3><%= @sf %></h3>
   <h3><%= @pf %></h3>
   <h3><%= @c %></h3>

 </body>
</html>
